<%
	/* XPECT execute ----
	   1-a
	   1-b
	   1-c
	   2-a
	   2-b
	   2-c
	   3-a
	   3-b
	   3-c
	--- */
%>
<%for(Integer x:newArrayList(1, 2, 3))%>
	<%for(String y:newArrayList("a", "b", "c"))%>
		<?x?>-<?y?>
	<%endfor%>
<%endfor%>
