<% package org.xtext.template.tests.compiler
	/* XPECT execute 'setParam1(true)' ----
		hello World!
	--- */
	
	/* XPECT execute 'setParam1(false)' ----
		hello Germany!
	--- */
	
	param boolean param1
%>
hello <%if param1 %>World<%else%>Germany<%endif%>!