<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/tortoiseshell/TortoiseShell"
			class = "org.xtext.tortoiseshell.tortoiseShell.TortoiseShellPackage"
			genModel = "model/generated/TortoiseShell.genmodel" />
	</extension>
</plugin>
