<% package org.xtext.template.tests.jvmmodel
	/* XPECT javaSignatures ----
	package org.xtext.template.tests.jvmmodel;
	
	import org.eclipse.xtext.xbase.lib.Procedures.Procedure1;
	
	public class ParameterTypeInference {
	  
	  public ParameterTypeInference() {...}
	  
	  public ParameterTypeInference(final ParameterTypeInference other) {...}
	  
	  public String generate() {...}
	  
	  public String generate(final Procedure1<ParameterTypeInference> init) {...}
	  
	  public void setParam1(final String param1) {...}
	  
	  public String toString() {...}
	}
	--- */
	param param1 = "foo"
%>

Hello World!