<% package org.xtext.template.tests.jvmmodel
	/* XPECT javaSignatures ----
	package org.xtext.template.tests.jvmmodel;
	public class Simple {
	  public String generate() {...}
	  
	  public void setParam1(final String param1) {...}
	  
	  public String toString() {...}
	}
	--- */
	param String param1
%>

Hello World!