<%
	/* XPECT javaSignatures ----
	public class SimpleExpression {
	  public String generate() {...}
	  
	  public void setParam1(final String param1) {...}
	  
	  public String toString() {...}
	}
	--- */
	param String param1
%>

Hello World! The param is "<? param1 ?>"