<% package org.xtext.template.tests.jvmmodel
	/* XPECT javaSignatures ----
	package org.xtext.template.tests.jvmmodel;
	import java.util.List;
	
	public class TypeParameters {
	  public String generate() {...}
	
	  public void setParam1(final List<String> param1)  {...}
	  
	  public String toString() {...}
	}
	--- */
	import java.util.List
	param List<String> param1
%>

Hello World!